In [5]:
import pandas as pd
students = {'Nome' : ['Ricardo', 'Pedro', 'Roberto', 'Carlos'],
        'Nota': [4, 7, 5.5, 9],
        'Aprovado': ['Não', 'Sim', 'Não', 'Sim']}

In [6]:
studentsDF = pd.DataFrame(students)

In [7]:
print(studentsDF)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim

In [8]:
studentsDF.shape # Number Of Lines and Number Of Columns

(4, 3)

In [9]:
studentsDF.describe() # Numeric Variables Informations

           Nota
count  4.000000
mean   6.375000
std    2.136001
min    4.000000
25%    5.125000
50%    6.250000
75%    7.500000
max    9.000000

In [10]:
studentsDF['Nome'] # Get a Column

0    Ricardo
1      Pedro
2    Roberto
3     Carlos
Name: Nome, dtype: object

In [11]:
studentsDF.loc[[0]] # Get the Line 0

      Nome  Nota Aprovado
0  Ricardo   4.0      Não

In [12]:
studentsDF.loc[0:2] # Get the Lines 0, 1, 2

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não

In [15]:
 # Get the Lines Where The Name is Pedro
studentsDF.loc[studentsDF['Nome'] == 'Pedro']

    Nome  Nota Aprovado
1  Pedro   7.0      Sim

In [16]:
 # Get the Lines Where The Grade = 9
studentsDF.loc[studentsDF['Nota'] == 9]

     Nome  Nota Aprovado
3  Carlos   9.0      Sim

In [17]:
 # Get the Lines Where Aprovado = Sim
studentsDF.loc[studentsDF['Aprovado'] == 'Sim']

     Nome  Nota Aprovado
1   Pedro   7.0      Sim
3  Carlos   9.0      Sim